<h2>Cart</h2>

{{#each}}
    Product SKU: {{sku}}<br>
    Name: {{name}}<br>
    Price: ${{currency price}}<br>
    Tax: ${{currency tax}}<br>
    Total Price: ${{currency totalPrice}}<br>
    <br><br>
{{/each}}